$theme-colors: (
		"primary": #ffda24,
		"secondary": #292929
);

$link-color: #E91E63;

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary);
  //background: url("../img/background.jpg") no-repeat center center fixed;
  background: #DEDDE5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

nav {
  overflow: hidden;
  background-image: linear-gradient(45deg, #292929, rgba(255, 218, 36, .75));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav span {
  color: white !important;
}

@import "../bootstrap/scss/bootstrap";
